body,
h1,
h2,
h3,
p {
  margin: 5px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
}

h1 {
  font-size: medium;
}

.header-nav .header-list {
  padding-left: 8px;
}

.header-list {
  padding-left: 0%;
}

h2 {
  font-size: xx-large;
  padding-top: 20px;
  padding-bottom: 10px;
}

h3 {
  font-size: small;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
}

footer {
  background-color: rgba(247, 193, 162, 0.7);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.footer-h2 {
  font-size: medium;
}

.footer-nav .footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul {
  list-style: none;
}
